/*///////////////////////////////////////
 /////////    GENERAL    ////////////////
 ///////////////////////////////////////*/
 
body{
    height: 100%;
    overflow-y: hidden;
    background-color: #fff;
    color: #000;
    padding: 0;
    margin:0;
    border:0;
}
h1{
    font-family: 'Playfair Display SC', serif;
    color: #000;
}
p,a,h2, h3, h4, h5, h6{
    font-family: 'Abel', sans-serif;
    color: #000;
}
/*///////////////////////////////////////
 /////////    NAVIGATION    /////////////
 ///////////////////////////////////////*/
 .nav-container{
    height: 100vh;
    width: 300px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px;
 }
 
 .nav-wrap{
    background-color: #fff;
    border-right: 2px solid black;
    padding: 20px;
    padding-top: 0;
 }
 .photo,.name{
    width: 100%;
 }
 .rod-face{
    width: 100%;
 }
 .name,.hobby, .nav-links{
    text-align: left;
    width: 100%;
    font-size: 19px;
 }
 .bottomname{
    font-size: 43px;
    font-family: 'Playfair Display SC', serif;
    margin-bottom: 20px;
 }
 .topname{
    font-size: 69px;
    font-family: 'Playfair Display SC', serif;
 }
 ul{
    list-style: none;
    font-family: 'Abel', sans-serif;
    padding-left: 0;
    font-size: 25px;
 }
 li:hover{
    background-color: #e6e6e6;
 }
 /*///////////////////////////////////////
 ///////////    PHOTOS    ////////////////
 ///////////////////////////////////////*/
 
 
 /*///////////////////////////////////////
 ///////////    FOOTER    ////////////////
 ///////////////////////////////////////*/
 